@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.ticket-container{
  display: flex;
  flex-wrap: wrap;
  width: 45vw;
  align-self: center;
}

.ticket{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.RESERVED{
  background-color: #994F15;
}

.FREE{
  background-color: limegreen;
}

.SOLD{
  background-color: firebrick;
}

a{
  color: black;
}

nav {
  ul {
    list-style-type: none;

    li {
      margin: 1% 0 0 0;

      a:hover {
        color: blue;
      }
    }
  }
}

  .hidden-input {
    display: none;
  }


  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 5px;
    margin: 0 0 0 0;
    list-style: none;
    background-color: whitesmoke;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    li{
      form{
        display: inline-block;
        margin: 0;
      }
      }
    }


.dropdown-element{
  border: none;
  background: none;
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 1em;
  .dropdown-element:hover{
    cursor: pointer;
    color: darkgrey;
  }
}

  .dropdown-menu a {
    text-decoration: none;
  }

  .dropdown-menu li a:hover {
    color: darkgrey;
  }


